<form [formGroup]="stockPickerForm">
  <mat-form-field>
    <input
      matInput
      placeholder="Symbol e.g AAPL"
      formControlName="symbol"
      value=""
      [matAutocomplete]="symbolAutocomplete"
      (blur)="fetchQuote()"
    />
    <mat-autocomplete #symbolAutocomplete="matAutocomplete">
        <mat-option *ngFor="let option of filteredSymbolOptions$ | async"
          [value]=option.symbol
        >{{option.symbol}} -- {{option.name}}</mat-option>
    </mat-autocomplete>

    <mat-error
      ><span
        *ngIf="
          !stockPickerForm.get('symbol').valid &&
          stockPickerForm.get('symbol').touched
        "
        >Please enter a symbol</span
      >
    </mat-error>
  </mat-form-field>

  <h3>Time period</h3>
  <div class="date-pickers-container">
    <mat-form-field class="date-picker-container">
      <mat-label>From</mat-label>
      <input matInput
        [max]="fromMax"
        placeHolder="From"
        formControlName="periodFrom"
        [matDatepicker]="periodFromDatepicker"
        (dateChange)="onDateChangeFrom($event)"
      />
      <mat-datepicker-toggle matSuffix [for]="periodFromDatepicker"></mat-datepicker-toggle>
      <mat-datepicker #periodFromDatepicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="date-picker-container">
      <mat-label>To</mat-label>
      <input matInput
        [min]="toMin"
        [max]="toMax || today"
        placeHolder="To"
        formControlName="periodTo"
        [matDatepicker]="periodToDatepicker"
        (dateChange)="onDateChangeTo($event)"
      />
      <mat-datepicker-toggle matSuffix [for]="periodToDatepicker"></mat-datepicker-toggle>
      <mat-datepicker #periodToDatepicker></mat-datepicker>
    </mat-form-field>
  </div>
  <mat-form-field>
    <mat-label>Favorite time period</mat-label>
    <mat-select formControlName="period"
      (selectionChange)="fetchQuote()"
    >
      <mat-option
        *ngFor="let timePeriod of timePeriods"
        [value]="timePeriod.value"
      >
        {{ timePeriod.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>

</form>

<coding-challenge-chart [data$]="quotes$"></coding-challenge-chart>
