mat-form-field {
  display: block;
  padding: 1em;
  margin: 0px;
}

h3 {
  padding: 0px 1em;
  margin: 1em 0px 0px 0px;

}
.date-pickers-container {
  margin: 0px;
  display: flex;
  justify-content: space-around;
}
@media screen and (min-width: 768px) {
  .date-pickers-container {
    justify-content: flex-start;
  }
}
mat-form-field.date-picker-container {
  width: 45%;
  max-width: 300px;
}
